{% load static %}


			<!-- footer -->
			<footer>
				<div class="container">
					<!-- social media links -->
					<div class="social">
						<a class="h-facebook" href="{% static '#' %}"><i class="fa fa-facebook"></i></a>
						<a class="h-google" href="{% static '#' %}"><i class="fa fa-google-plus"></i></a>
						<a class="h-linkedin" href="{% static '#' %}"><i class="fa fa-linkedin"></i></a>
						<a class="h-twitter" href="{% static '#' %}"><i class="fa fa-twitter"></i></a>
					</div>
					<!-- copy right -->
					<p class="copy-right">&copy; copyright 2021, All rights are reserved.</p>
				</div>
			</footer>
			<!-- footer end -->
			
			
			
			
			
			<!-- Scroll to top -->
			<span class="totop"><a href="{% static '#' %}"><i class="fa fa-chevron-up"></i></a></span> 
			
		</div>
		
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="{% static 'js/jquery.js' %}"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- WayPoints JS -->
		<script src="{% static 'js/waypoints.min.js' %}"></script>
		<!-- Include js plugin -->
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!-- One Page Nav -->
		<script src="{% static 'js/jquery.nav.js' %}"></script>
		<!-- Respond JS for IE8 -->
		<script src="{% static 'js/respond.min.js' %}"></script>
		<!-- HTML5 Support for IE -->
		<script src="{% static 'js/html5shiv.js' %}"></script>
		<!-- Custom JS -->
		<script src="{% static 'js/custom.js' %}"></script>
	</body>	
</html>