{% include 'template/userheader.html' %}
{% load static %}<br/><br/><br/><br/><br/>
<!DOCTYPE html>
<html lang="en">
<style>
body{
background: linear-gradient(red,black,white);
    color: white;
    font-size: 15px;
	}
label {
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: 700;
    font-color: white,pink;
	}
legend{
	border-bottom: 0px solid #e5e5e5;
}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       </head>
<body>
<div class="container">
<div id="sidebar">
<center><h1><b>Categories</b></h1></center>
    <ul>
        <li>
		<dl><dt>
        <h3><u>POP Songs</u></h3></dt>
		<dd>Most pop songs are between two and five minutes long, and the lyrics are usually about the joys and problems of love and relationships. Pop songs are produced by groups like the boy band One Direction and the girl group Girls' Generation, and by pop singers like Justin Bieber and Madonna.</dd>
		</dl>
        </li>
		<li>
		<dl><dt>
        <h3><u>ROCK Songs</u></h3></dt>
		<dd>Usually, rock is song-based music with a 4/4 time signatureusing a verse–chorus form, but the genre has become extremely diverse. Like pop music, lyrics often stress romantic love but also address a wide variety of other themes that are frequently social or political.</dd>
		</dl>
        </li><li>
		<dl><dt>
        <h3><u>Punjabi Songs</u></h3></dt>
		<dd>Music of Punjab (in Punjabi پنجاب دی موسیقی, ਪੰਜਾਬ ਦਾ ਸੰਗੀਤ) reflects the traditions of the Punjab region of the Indian subcontinent, currently divided into two parts: East Punjab (India) and West Punjab (Pakistan). The Punjab has diverse styles of music, ranging from folk and Sufi to classical, notably the Patiala gharana .</dd>
		</dl>
        </li><li>
		<dl><dt><u>
        <h3><u>Harayanvi Songs</u></h3></u></dt>
		<dd>Haryanvi music takes two main forms: "Classical folk music" and "Desi Folk music" (Country Music of Haryana), and sung in the form of ballads and love, valor and bravery, harvest, happiness and pangs of parting of lovers. Classical Haryanvi folk music is based on Indian classical music.</dd>
		</dl>
        </li><li>
		<dl><dt>
        <h3><u>Sad Songs</u></h3></dt>
		<dd>Although it might sound counter-intuitive, listening to sad music when we’re sad can actually help us out of our funk. When we listen to sad songs we can’t help but relate our life to the heartbreaking lyrics. </dl>
        </li><li>
		<dl><dt>
        <h3><u>Romantic Songs</u></h3></dt>
		<dd>Romantic music is a stylistic movement in Western orchestral music associated with the period of the nineteenth century commonly referred to as the Romantic era (or Romantic period).
		</dd>
		</dl>
        </li>
		<li>
		<dl><dt>
        <h3><u>Religious Songs</u></h3></dt>
		<dd>Religious music (also sacred music) is any type of music that is performed or composed for religious use or through religious influence. It may overlap with ritual music, which is music, sacred or not, performed or composed for or as ritual.</dd>
		</dl>
        </li>
    </ul>
</div>
<br/>
<div>
</div>
</div>
</body>
</html>	

{% include 'template/userfooter.html' %}